@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
}
.menu {
    display: flex;
}
.horatemp{
    border: 2px solid black;
    background-color: aqua;
    width: 40%;
    height: 150px;
    border-radius: 15px;
    display: flex;
}

#timeContainer{
 font-weight: bold;
 font-size: 80px;
 margin-left: 15px;
 color: white;
 display: flex;
}
.horatemp #timeContainer #temperatureDisplay{
    font-weight: bold;
    font-size: 40px;
    margin-left: 100px;
    margin-top: 50px;
    color: white;
    display: flex;
   }

#greetingContainer {
    color: white;
    display: flex;
    font-weight: bold;
    font-size: 20px;
    margin-top: 90px;
    margin-left: -450px;
}
#columns{
    margin-left: 350px;
    border-radius: 15px;
    width: 50%;
    background-color: white;
    border: 2px solid black;
}
#infoColumn{
    margin-left: 15px;
}
#voiceControlButton {
    border: none;
    background-color: green;
    margin-left: 450px;
    margin-top: -100px;
}